{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>ReThread Settings</h1>
    <p style="margin-bottom: 32px; color: #666;">Configure your research assistant preferences</p>
    <form method="POST">
        <div class="setting-group">
            <label for="interval">Screenshot Interval (seconds)</label>
            <input type="number" name="interval" value="{{ interval }}" min="1">
        </div>
        <div class="setting-group">
            <label for="research_topic">Research Topic</label>
            <input type="text" name="research_topic" value="{{ config['research_topic'] }}">
        </div>
        <button type="submit">Save Settings</button>
    </form>
</div>
{% endblock %}
