{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Research Log</h1>
    <div class="header-actions">
        <select onchange="window.location.href='/?date=' + this.value">
            {% for date in dates %}
            <option value="{{ date }}" {% if date == selected_date %}selected{% endif %}>
                {{ date[:4] }}-{{ date[4:6] }}-{{ date[6:] }}
            </option>
            {% endfor %}
        </select>
        <button onclick="window.location.href='open_in_finder'" class="action-button">Open in Finder</button>
    </div>
    <div class="entries">
        {% for entry in entries %}
        <div class="entry">
            <img loading="lazy" src="data:image/png;base64,{{ entry.thumbnail }}" alt="Screenshot" class="entry-image">
            <div class="entry-content">
                <div class="entry-metadata">
                    <span class="timestamp">{{ entry.timestamp }}</span>
                    <span class="app"> | {{ entry.app }}</span>
                    <span class="continuation">
                        {% if entry.continuation %}
                            | {{ 'Continued action' if entry.continuation == 'true' else 'New action' }}
                        {% endif %}
                    </span>
                </div>
                <h3 class="window-title">{{ entry.window }}</h3>
                <p class="action">{{ entry.description }}</p>
                <div>
                    <span class="topic-tag">{{ entry.research_topic }}</span>
                </div>

                <details class="details">
                    <summary>Details</summary>
                    <h4>Research Summary</h4>
                    <p class="summary">{{ entry.research_summary }}</p>
                    <h4>OCR Text</h4>
                    <p class="ocr">{{ entry.ocr_text }}</p>
                    <h4>File Path</h4>
                    <p class="filepath">{{ entry.filepath }}</p>
                    {% if entry.claude_prompt %}
                    <h4>Analysis Prompt</h4>
                    <p class="ocr">{{ entry.claude_prompt }}</p>
                    {% endif %}
                    {% if entry.claude_response %}
                    <h4>Claude Response</h4>
                    <p class="ocr">{{ entry.claude_response }}</p>
                    {% endif %}
                </details>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
